@import url(droparea.css);

input, textarea, select {
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 1px solid var(--stroke-default);

    padding: .75rem 1rem;

    font: var(--text);
}

label {
    font: var(--text-sm);
    color: var(--text-secondary);

    display: block;
    margin-bottom: .25rem;
}

input:focus, 
textarea:focus, 
select:focus,
input[type="date"]:focus-within  {
    outline: .25rem solid var(--surface-secondary);
    border: .125rem solid var(--stroke-highlight);
    outline-offset: .1px;
}

input[type="date"] {
    position: relative;

    &::-webkit-calendar-picker-indicator {
        position: absolute;
        background: url(../../assets/icons/calendar-03.png) center/contain;
        right: 1rem;
        width: 1.25rem;
        height: 1.25rem;
    }
        
}

select {
    background: url(../../assets/icons/arrow-down-01.png) no-repeat right .75rem center/1rem;
}

.address .flex {
    gap: 1.25rem
}

input {

    .input-wrapper:has([disabled]) {
        opacity: .5;
    }
    
    input[disabled] {
        background-color: #E7E5E4;
        
        border: 1px solid var(--stroke-default);
        
        color: var(--text-primary);
    }
    
    &:invalid {
        border: 0,125rem solid #DC2626;
    }

    & + small {
        font: var(--text-sm);
        calor: #78716C;

        display: inline-block;
        margin-top: .25rem;
    }

    &[required] + .error {
        display: flex;
        align-items: center;
        gap: .25rem;

        font: var(--text-sm);
        color: var(--semantic-error);

        margin-top: .25rem;
    }

    &:not(:focus):valid + .error {
        display: none;
    }
}